<div class="field-unit__label">
  <% if defined?(label) %>
  	<%= f.label label %>
  <% end %>
</div>
<div class="field-unit__field">
  <%= f.select(
    field.attribute,
    options_from_collection_for_select(
      field.selectable_options,
      :to_s,
      :titleize,
      field.data.presence,
    )
  ) %>
</div>