<div class="field-unit__label">
  <%= f.label label %>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute, value: value, required: (defined?(required) ? required : false) %>
  <% if defined?(hint) %>
	  <small class="form-text text-muted"><%= hint %></small>
  <% end %>
</div>