<section id="dashboard" ng-controller="DashboardController">
  <div class="video-contents list">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <h2 class="section-title" id="watch_list">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span class="text"><span class="first-word">Watch</span> list</span>
          </h2>
          <div class="row dashboard_row">
            <% if @watch_laters.any? %>
              <div id="watchlist-carousel" class="owl-carousel">
                <% @watch_laters.each do |wl| %>
                  <div class="lesson_result search_result well">
                    <%= render partial: 'item', locals: { lesson: wl.lesson } %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p class="none_found my-3 my-md-4 my-lg-5 w-75 mx-auto" >You have not yet marked any lessons to watch later</p>
            <% end %>
          </div>
          <div class="clearfix"></div>

          <h2 class="section-title" id="favourite_lessons">
            <i class="fa fa-star" aria-hidden="true"></i>
            <span class="text"><span class="first-word">Favorite</span> lessons</span>
          </h2>
          <div class="row dashboard_row">
            <% if @favourites.any? %>
              <div id="favourites-carousel" class="owl-carousel">
                <% @favourites.each do |fave| %>
                  <div class="lesson_result search_result well">
                    <%= render partial: 'item', locals: { lesson: fave.lesson } %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p class="none_found my-3 my-md-4 my-lg-5 w-75 mx-auto" >You have not yet added any lessons to your favorites</p>
            <% end %>
          </div>
          <div class="clearfix"></div>


          <h2 class="section-title" id="viewed_lessons">
            <i class="fa fa-check-square" aria-hidden="true"></i>
            <span class="text"><span class="first-word">Viewed</span> lessons</span>
          </h2>
          <div class="row dashboard_row">
            <% if @views.any? %>
              <div id="viewed-carousel" class="owl-carousel">
                <% @views.each do |view| %>
                  <div class="lesson_result search_result well">
                    <%= render partial: 'item', locals: { lesson: view.lesson } %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p class="none_found my-3 my-md-4 my-lg-5 w-75 mx-auto" >You have not yet marked any lessons as viewed</p>
            <% end %>
          </div>
          <div class="clearfix"></div>



        </div>
      </div>
    </div>
  </div>
</section>