<h3 class="mb-3">Audio files</h3>

<p>Adding your <em>Audio files</em>, just like <em>Videos</em>, is easy. Choose a name and upload the file from your device.</p>

<p class="mb-4">You can insert them into <em>Lessons</em> by adding/editing a <em>Lesson</em></p>

<%= help_image_tag('audio-file', '35%') %>
<p class="admin_help_caption" style="width: 35%;">Screenshot of an <em>Audio file</em> displaying inline on a <em>Lesson</em> page.</p>