<h3 class="mb-3">Tutors</h3>

<p>Your school can have one or more <em>Tutors</em> that can be assigned as the creator of both <em>Lessons</em> and <em>Courses</em>.</p>

<p>From the Tutors listing screen you can choose the main <em>Tutor</em> for your school by clicking the 'Set main tutor' link in the row.</p>

<p>The 'main' <em>Tutor</em> is referred to in various parts of the school site as a point of contact</p>

<%= help_image_tag('tutors-main', '35%') %>
<p class="admin_help_caption" style="width: 35%;">Screenshot showing the 'Request A Lesson' page mentioning the name of the 'main' <em>Tutor</em></p>

<p>When adding/editing a <em>Tutor</em> you will have these options:</p>
<ul class="mb-5">
	<li>
		<h5>Name</h5>
		<p>The full name of the <em>Tutor</em></p>
	</li>
	<li>
		<h5>Avatar</h5>
		<p>Upload an image for the <em>Tutor</em>. This will appear next to the content cropped to appear as a circle.</p>
	</li>
	<li>
		<h5>Subscription fee spli</h5>
		<p>It's possible to sell Courses created by <em>Tutors</em> in your e-commerce <em>Stores</em>. By completing this field you are able to see, when making a sale, how much of the sale price you need to pass on to the <em>Tutor</em>.</p>
	</li>
</ul>

<%= help_image_tag('tutors-lesson', '35%') %>
<p class="admin_help_caption" style="width: 35%;">Screenshot showing the <em>Tutor</em> avatar in the <em>Lesson</em> listing</p>