<h3 class="mb-3">Content Blocks</h3>

<p></p>

<p>These are the sections of HTML content for your <em>Info Pages</em>.</p>
<p> There are 3 things to remember when adding/editing these <em>Content Blocks</em>:</p>
<ul>
	<li>The <b>NAME</b> field refers to the internal name of the block (for choosing when inserting into an <em>Info Page</em>)</li>
	<li>The <b>TITLE</b> field will be rendered out as a heading tag above the block on the page. You may leave this blank to skip the heading tag.
	<li>Certain blocks can be edited but not deleted. These blocks appear in various places in the lesson library (not for use in the Info Pages). Examples of non-removeable <em>Content Blocks</em> are the 'Homepage introduction' and the 'Courses introduction'.
</ul>