<h3 class="mb-3">Info Pages</h3>

<p>Create extra information pages about your school.</p>

<p>We have already started you off with an ABOUT US page. It's good practice to keep this page and to update it with info about your School, your background, your Tutors, etc. This page is particularly useful for <abbr title="Search Engind Optimisation">SEO</abbr>.</p>

<p>Info Pages can contain multiple Content Blocks. Think of the page as a wrapper for the blocks of content.</p>

<p>Adding/Editing an Info Page is simple: choose a name and select the Content Blocks to appear on your page. The Content Blocks may also be ordered using the number field before the block chooser</p>

<%= help_image_tag('info-page', '45%') %>
<p class="admin_help_caption" style="width: 45%;">Screenshot from the Admin Console showing how to add an <em>Info Page</em></p>
