<h3 class="mb-3">Complimentary subscribers</h3>

<p>You may also offer up to <%= SiteSetting.comp_subscriber_limit %> complimentary subscriptions at any one time.</p>

<p>Once the <em>Student</em> has signed up for a free account you can then edit them in the <em>Students</em> section and change their status to 'complimentary'.</p>

<p>Once you hit your limit of <%= SiteSetting.comp_subscriber_limit %> you will need to downgrade other <em>Students</em> before you can add more</p>