<h3 class="mb-3">Courses</h3>

<p>Group <em>Lessons</em> into <em>Courses</em> for students to learn subjects in more depths.</p>

<p>When adding/editing a <em>Course</em> you will have these options:</p>
<ul class="mb-5">
	<li>
		<h5>Name</h5>
		<p>The name of your <em>Course</em></p>
	</li>
	<li>
		<h5>Tutor</h5>
		<p>Assign the <em>Course</em> to a <em>Tutor</em></p>
	</li>
	<li>
		<h5>Image</h5>
		<p>Upload an image that will display on the <em>Course</em> listings page</p>
	</li>
	<li>
		<h5>Skill levels</h5>
		<p>Mark the skill level(s) required for this <em>Course</em></p>
	</li>
	<li>
		<h5>Tagged with</h5>
		<p>Add some tags</p>
	</li>
	<li>
		<h5>Lessons</h5>
		<p>Here's where you add the actual content for the <em>Course</em>. Choose the <em>Lessons</em> required for the course and nake sure to assign them the order you want them displayed.</p>
	</li>
	<li>
		<h5>Publish date</h5>
		<p>Set a date in the future if you want to delay the publicatio of your <em>Course</em></p>
	</li>
	<li>
		<h5>Description</h5>
		<p>This text will show on the <em>Course</em> detail page. Important to get this right in order to get students interested in your <em>Course</em>. (See screenshot below)</p>
	</li>
</ul>

<%= help_image_tag('course', '45%') %>
<p class="admin_help_caption" style="width: 45%;">Screenshot of a <em>Course</em> details page showing all the course information and the lessons in the course.</p>

<p><i class="fas fa-exclamation-circle mr-1"></i>Remember: if you want to group some video material together but feel you don't have enough for a course then you can always add multiple videos to a single lesson</p>