<h3 class="mb-3">Scores</h3>

<ul>
	<li><em>Scores</em> may be uploaded in .pdf .doc or .dox format</li>
	<li>When adding/editing a <em>Score</em> The NAME, FILE and TUTOR fields are required.</li>
	<li><em>Scores</em> can then easily be included as downloadable file links into a <em>Lesson</em> page by editing the <em>Lesson</em></li>
</ul>

<p><em>Scores</em> can also be added as products for purchase in your <em>Stores</em>. To do this you will need to also complete the THUMBNAIL field so that the <em>Score</em> can be properly displayed in the <em>Store</em></p>

<p>Once purchased, the buyer is sent a customised download link for their <em>Score</em>.</p>