<h3 class="mb-3">Income reports</h3>

<p><em>Income reports</em> are generated monthly. They may not be edited but click on an item to get full details of how much you earned in any given month.</p>

<p>Income reports will have a status of 'unpaid' until your earnings get transferred into your account on the last day of the month.</p>

<p>
	<i class="fas fa-exclamation-triangle"></i> IMPORTANT: These figures do not take into account the transaction fees associated with taking online payments. <br />Currently transaction fees stand at:-</p>

<ul>
	<li><b>1.4% of each transaction + <%= Maawol::Config.currency_symbol %>0.20</b></li>
</ul>

<p><b>Note: Soon we will be updating the code that calculates the figures in your <em>Income Reports</em> to factor in transaction fees</b>.</p>

