<h3 class="mb-3">Lessons</h3>

<p>Here is where you assemble everything together into <em>Lessons</em></p>

<p>When adding/editing a <em>Lesson</em> you will have these options:</p>
<ul class="mb-5">
	<li>
		<h5>Lesson name</h5>
		<p>The name of your <em>Lesson</em> (for both internal and external use)</p>
	</li>
	<li>
		<h5>Tutor</h5>
		<p>Assign this <em>Lesson</em> to the <em>Tutor</em> who created it</p>
	</li>
	<li>
		<h5>Publish date</h5>
		<p>Set this in the future if you are not yet ready for the <em>Lesson</em> to go live</p>
	</li>
	<li>
		<h5>Videos</h5>
		<p>Add in the <em>Videos</em> (if any) for this <em>Lesson</em> in the order you want them displayed</p>
	</li>
	<li>
		<h5>Audio files</h5>
		<p>Add in the <em>Audio file</em> (if any) for this <em>Lesson</em> in the order you want them displayed</p>
	</li>
	<li>
		<h5>Scores</h5>
		<p>Add in the donloadable <em>Scores</em> (if any) for this <em>Lesson</em> in the order you want them displayed</p>
	</li>
	<li>
		<h5>Tagged with</h5>
		<p>Add some <em>Tags</em> to your <em>Lesson</em></p>
	</li>
	<li>
		<h5>In Categories</h5>
		<p>Put your <em>Lesson</em> in one or more <em>Categories</em></p>
	</li>
	<li>
		<h5>Playlists</h5>
		<p>Display a remote music service <em>Playlist</em> in your <em>Lesson</em> for <em>Students</em>' further study</p>
	</li>
	<li>
		<h5>Other recommended lessons</h5>
		<p><em>Lessons</em> you put in here will be displayed at the end of the <em>Lesson</em> content. You might have specific <em>Lessons</em> that you think would be useful for the <em>Student</em> to study this subject further.</p>
	</li>
	<li>
		<h5>Personalised for students</h5>
		<p>Here is where you can make this a <em>Personalised Lesson</em> for one or more Students. Adding an entry into this field will stop the <em>Lesson</em> from appearing in the main <em>Lesson</em> listings. <em>Students</em> can view their <em>Personalised Lessons</em> on thier <b>My Lists</b> page.</p>
	</li>
	<li>
		<h5>Thumbnail</h5>
		<p>Upload an image for the <em>Lesson</em> to appear in the listings pages.</p>
	</li>
	<li>
		<h5>Content</h5>
		<p>The main <em>Lesson</em> text. If your <em>Lesson</em> is <em>Video</em> based then it might not require anything here.</p>
	</li>
	<li>
		<h5>Course only</h5>
		<p>Check this box if you want the <em>Lesson</em> only to appear as part of a <em>Course</em> and not in the listings pages.</p>
	</li>
	<li>
		<h5>Available for free?</h5>
		<p>Check this box if you want the <em>Lesson</em> to be available to registered <em>Students</em> who are not <em>Subscribers</em>. It's a good idea to have a few <em>Lessons</em> that are marked as FREE so as to give a sample of your lesson content to prospective <em>Subscibers</em>. Non-subscribing <em>Students</em> will see your FREE <em>Lessons</em> at the top of their listings.</p>
	</li>
</ul>
