<h3 class="mb-3">Playlists</h3>

<p>Adding Playlists into your Lessons gives Students a way of studying your lesson material further by providing them with options for further listening.</p>

<p>When adding/editing a <em>Playlist</em> you will have these options:</p>
<ul class="mb-3">
	<li>
		<h5>Name</h5>
		<p>The name of your <em>Playlist</em> (for admin purposes)</p>
	</li>
	<li>
		<h5>Spotify URL</h5>
		<p>The playlist URL for the <b>Spotify</b> platform. <small><a href="https://wordpress.com/support/audio/spotify/" target="_blank">Follow these instructions to get the URL.</a></small></p>
	</li>
	<li>
		<h5>Apple Music URL</h5>
		<p>The playlist URL for the <b>Apple Music</b> platform. <small><a href="https://soundiiz.com/tutorial/export-apple-music-to-url" target="_blank">Follow these instructions to get the URL.</a></small></p>
	</li>
	<li>
		<h5>Amazon Music URL</h5>
		<p>The playlist URL for the <b>Amazon Music</b> platform. <small><a href="https://soundiiz.com/blog/how-to-export-amazon-music-playlist/" target="_blank">Follow these instructions to get the URL.</a></small></p>
	</li>
</ul>
<p>You need only add one of the music platform URLs for it to display in a <em>Lesson</em>. But you can add all three if necessary.</p>

<p>Once saved, you can then insert your <em>Playlist</em> by adding/editing a <em>Lesson</em></p>

<p class="mb-4"><i class="fab fa-gratipay mr-2"></i>Quick Tip: Build up <em>Playlists</em> for certain genres or artists. This can help in the future when you need to insert quick examples of further listening into a <em>Lesson</em></p>

<%= help_image_tag('playlist', '70%') %>
<p class="admin_help_caption" style="width: 70%;">Screenshot of a Spotify 'Ballads' <em>Playlist</em> displaying inline on a <em>Lesson</em> page.</p>