<h3 class="mb-3">Store payments</h3>

<p><em>Store payments</em> may not be edited but click on an item to get full details of the sale</p>

<p>Each item sale is rendered as a seperate payment even if they were part of a single order on the part of the buyer.</p>

<p>In the <em>Store Payment</em> details you can find how much, if any, is owed to the content creator (<em>Tutor</em>) of the sale item.</p>