<h3 class="mb-3">Referrals</h3>

<p>Each <em>Tutor</em> you create will also be assigned 2 unique referral URLs that they can pass onto potential <em>Students</em>. If <em>Students</em> sign up to your school via one of those referral URLs their account is flagged as having been referred by the <em>Tutor</em>.</p>

<p>Then, when a student makes subscription payments you are able to see how much is owed, if any, to the referring <em>Tutor</em>.</p>

<p>When editing a <em>Tutor</em> you can set their referral fee as a percentage of any future payments recieved.</p>

<p>Using this referral system encourages your <em>Tutors</em> to market the school for you to potential <em>Students</em></p>

<p>To find the referral URLs (one for the homepage and one direct to the registration page) click on the Tutor row in the admin listings</p>

<%= help_image_tag('tutors-detail', '55%') %>
<p class="admin_help_caption" style="width: 55%;">Screenshot from the Admin Console showing the referral URLs for a <em>Tutor</em>.</p>

