<h3 class="mb-3">Sections &amp; Categories</h3>

<p><em>Sections</em> are the top level groupings for your lesson library. They appear in the main navigation menu on every page.</p>

<p class="mb-3"><em>Categories</em> are contained within <em>Sections</em> and appear in a secondary navigation menu. They in turn contain <em>Lessons</em></p>

<%= help_image_tag('sections', '70%') %>
<p class="admin_help_caption" style="width: 70%;">From this screenshot you can see that the 'Performance' <em>Section</em> is chosen and that the 'All', 'Exercises' and 'Comping' <em>Categories</em> are available in that <em>Section</em></p>

<p class="mt-3">From the add/edit form for <em>Categories</em> you can choose both the <em>Section</em> (parent) and <em>Lessons</em> (children)</p>

