<h3 class="mb-3">School Settings</h3>

<p>Follow the instructions beneath each field of the <em>School Settings</em> page. Remember to click the save button at the bottom of each section when you are finished editing</p>