<h3 class="mb-3">Skill levels</h3>

<p>Use skill levels to categorise your courses. We have provided you with 3 basic skill levels: 'beginner', 'intermediate' and 'advanced' but you can add as many as you like.</p>

<p>Apply the skill levels to the courses by editing a course.</p>

<p>Students can then filter your list of courses according to their own level of skill.</p>

<%= help_image_tag('skill-levels', '25%') %>
<p class="admin_help_caption" style="width: 25%;">Screenshot showing the results for <em>Courses</em> in the 'intermediate' <em>Skill Level</em></p>
