<h3 class="mb-3">Stores</h3>

<p>As well as running your music library you are able to offer your content as one-off sales in one or more customised e-commerce Stores</p>

<p>These <em>Stores</em> run on their own unique URL and are not linked to from within your school pages. Instead you can market these URLs in places you wish to sell your content. You may also wish to upsell access to content to your FREE <em>Students</em> who do not wish to subscribe. But please remember: buyers of your content do not need to be registered as <em>Students</em></p>

<p>Currently you can add Courses, Scores and Audio files into your stores as purchaseable products</p>
<p class="mb-4"><i class="fab fa-gratipay mr-2"></i>Quick Tip: If you wish to sell single <em>Lessons</em> in your stores then simply create a <em>Course</em> that holds only that one <em>Lesson</em>.</p>

<p>When adding/editing a Store you will have these options:</p>
<ul class="mb-5">
	<li>
		<h5>Name</h5>
		<p>The name of your <em>Store</em></p>
	</li>
	<li>
		<h5>Products</h5>
		<p class="mb-0">Choose the products for this <em>Store</em> by selecting these options:</p>
		<ul class="pt-0 mt-0 mb-2">
			<li style="list-style: circle">Display order</li>
			<li style="list-style: circle">Actual product (one of <em>Course</em>, <em>Score</em> or <em>Audio file</em>)</li>
			<li style="list-style: circle">Sale price</li>
			<li style="list-style: circle">Percentage for the content creator of this item (internal only, see <em>Store Payments</em> section for more info)</li>
		</ul>
	</li>
	<li>
		<h5>Description</h5>
		<p>Important for SEO purposes to detail the items for sale in this <em>Store</em>. This appears on the <em>Store</em> page above the list of items</p>
	</li>
</ul>

<div class="d-flex">
	<div style="width: 50%;" class="mr-5">
		<%= help_image_tag('store-listing', '100%') %>
		<p class="admin_help_caption" style="width: 100%;">Screenshot of a sample E-commerce <em>Store</em> for your School.</p>
	</div>

	<div style="width: 25%;">
		<%= help_image_tag('store-checkout', '100%') %>
		<p class="admin_help_caption" style="width: 100%;">Screenshot of a <em>Store</em> checkout page.</p>
	</div>
</div>

<p>Once a <em>Store</em> has been created you will see the FULL URL that was generated for the <em>Store</em> for use in your marketing material.</p>

