<h3 class="mb-3">Subscribers</h3>

<p>The same instructions apply here as per the <em>Students</em> section but you are not able to change their membership status.</p>
<p>Instead you will see deatils of their current subscription.</p>

<%= help_image_tag('subscriber', '45%') %>
<p class="admin_help_caption" style="width: 45%;">Screenshot from the Admin Console showing details of a <em>Students</em> subcription.</p>