<h3 class="mb-3">Subscription payments</h3>

<p><em>Subscription payments</em> may not be edited but click on an item to get full details of the payment</p>

<p>Amongst other information, here you can find how much, if any, is owed to the <em>Tutor</em> that referred this student (see the <em>Tutors > Referrals</em> help section for more info on referrals).</p>