<h3 class="mb-3">Students</h3>

<p>You can edit the details of registered Students but you may not add new ones via the Admin Console. If people wish to join your school they will need to register on the front end. This is necessary in order to be in compliance with the GDPR policy that they are agreeing to upon registration.</p>

<p>Once they are registered as a <em>Student</em> you are then able to edit them in the following ways:</p>
<ul>
	<li>Convert <b>free</b> students to <b>complimentary</b></li>
	<li>Make them an administrator<sup>1</sup></li>
	<li>Bind their <em>Student</em> account to a <em>Tutor</em> account</li>
	<li>Update their name and email address (not recommended unless you have written permission)</li>
</ul>

<p><sup>1</sup> <i class="fas fa-exclamation-triangle"></i> This will give the <em>Student</em> access to all data in the Admin Console including all <en>Student</en> data. All administrators must be trusted as GDPR Data Controllers.</p>