<h3 class="mb-3">Videos</h3>

<p>Adding your <em>Videos</em> is easy, choose a name and upload the file from your device. These are then uploaded to and hosted on a premium video platform called Vimeo.</p>

<p class="mb-4"><b>Why manage <em>Videos</em> seperately to Lessons?</b> <br />
	<i class="fas fa-exclamation-circle mr-1"></i> Remember: Lessons can contain multiple <em>Videos</em> that can be displayed as a 'playlist'. Managing <em>Videos</em> as a seperate resource and then inserting them into Lessons makes way more sense</p>

<%= help_image_tag('videos-playlist', '35%') %>
<p class="admin_help_caption" style="width: 35%;">Screenshot of a <em>Lesson</em> with 2 <em>Videos</em></p>