<div class="modal fade error" id="paymentErrorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    	<div class="modal-header error">
        <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
        <h3>{{paymentError.title}}</h3>
      </div>

      <div class="modal-body">
        <p class="center">{{paymentError.msg}}</p>
        <button class="dismiss" data-dismiss="modal">close</button>
      </div>
    </div>
  </div>
</div>