body.auth {
	min-height: 100vh;
}

#login_box,
#registration_box,
#passwords_box,
#checkout_complete_box,
section#payment {
	margin-top: 1.2em;
	padding-bottom: 4em;

	.panel {
		border: 1px solid #cfd8dc;
		padding: 30px;
	  min-width: 30vw;
	  max-width: 500px;
	  margin: 0 auto 1em;

		p {
		  width: 100%;
		}

		input[type="submit"] {
		  margin: 0 !important;
		  max-width: inherit !important;
		  width: 100% !important;
		}

		.tandcs_input {
			label {
				line-height: 1.2em;
			}

			input[type=checkbox] {
				width: 2.2em;
				height: 2.2em;
			}
		}

		.submit-input {
		  margin-top: 0;
		}

		.alt-methods {
		  padding-left: 0;
		  text-align: center;
		  width: 100%;
		}

		.alt-methods span {
		  display: block;
		  padding: 15px 0 26px;
		}

		.bottom-text {
		  color: #455a64;
		  display: inline-block;
		  font-size: 16px;
		  font-weight: 700;
		  padding-top: 45px;
		  width: 100%;
		}

		.register-form .submit-input {
		  margin-top: 15px;
		}
	}

	&#checkout_complete_box {
		.panel {
			max-width: 630px;
		}
	}

	&#payment {
		.panel {
			max-width: 630px;
		  text-align: left;
		}
	}
}