#dashboard {
	padding-bottom: 50px;

	.owl-item {
		padding: 0 1em;
	}

	.owl-nav {
		top: -60px;
    right: 20px;
    width: 100px;

    div[class*="owl-"] {
    	width: 32px;

    	&:before {
    		font-size: 32px;
    	}
    }
	}

  h2.section-title {
    .fa {
      padding-right: 5px;
    }
  }
}