#home_slides {
	.section {
		margin-bottom: 65px;
	}

	.cms_section {
		margin-bottom: 38px;

		&#register {

			.col {
				min-height: 20em;
				position: relative;

				ul {
				}

				.btn {
					width: 80% !important;
					position: absolute;
					bottom: 0;
				}
			}

		}
	}
}

#homepage_video_box {
	padding-top: 56.25%;
	position: relative;

	iframe {
		position:absolute !important;
		top:0 !important;
		left:0 !important;
		width:100% !important;
		height:100% !important;
	}
}