h3#loading {
	text-align: center;
	padding: 15px 0 90px;
}

p.all_loaded {
	clear: both;
	text-align: center;
}

section.lessons {
	#filters {
		&.desktop_filters {

			h4, select {
				display: inline-block;
				font-size: 1.1em;
			}

			select {
				background: #fff;
			}

			button, input[type=submit] {
				font-weight: bold;
				padding: 0 2em;
				font-size: 1em;
				position: relative;
				top: -1px;
				background-color: #68cc68;
				border-color: #48a948;
			}

			h4 {
				position: relative;
				top: 1px;
				margin-right: 5px;
			}
		}
	}
}

article.lesson {

	h2#main-title {
		font-size: 1.35em;
	}

	#lesson_meta {
		line-height: 1.3em;

		.entry-meta {
			span {
				display: block;

				a {
					color: inherit;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
						color: #999;
					}
				}
			}
		}
	}

	video {
		width: 700px;
		height: 373px;
		margin-bottom: 20px;
	}

	iframe {
		width: 100%;
		height: initial;
		min-height: 373px;
	}

	#playlist {
		background-color: #f1f4f4;

		ul {
			padding-bottom: 1em;
			margin-top: 0;
			border-bottom: 0;

			li {
				padding: 7px 12px 0 10px;
				margin: 0 6px 2px 5px;
				width: 100%;
				display: inline-block;

				&#summary {
					font-size: 15px;
					font-weight: bold;
				}

				i.fa {
					font-size: 0.8em;
					position: relative;
					top: -1px;
				}

				a {
					font-size: 14px;
					background: transparent;
					text-transform: none;
					color: #666;
					padding: 4px 6px 8px;
					display: block;

					&.active {
						background: #fff;
					}

					span.text {
						margin-left: 12px;
					}
				}
			}
		}

	}

	#text_content {
		ul {
			margin-bottom: 2em;
			padding-left: 2.2em;
		}
	}

	.comments {
		clear: both;
		margin-top: 0px !important;
		margin-bottom: 20px !important;
		border-top: 1px solid #ccc;

		#comments_top {
			padding-top: 0.6em;
			padding-bottom: 0.4em;
		}

		ol.comment-list {
			padding-top: 20px;

			li.comment {
				.comment-item {
					margin-bottom: 15px;

					.author-avatar {
						width: 3.2em;
						display: inline-block;

						img {
							width: 60px;
							border-radius: 50px;
						}
					}

					.comment-body {
						width: 260px;
						padding-left: 1.15em;

						.reply {
							background: none;
							padding: 0;

							&:active,
							&:focus {
								opacity: 0;
							}
						}

						p {
							padding-top: 0.4em;
						}

						.comment-metadata {
							font-size: 1em;

							.name,
							.time {
								font-size: 0.9em;
							}

							.time {
								display: inline-block;
						    padding-top: 0;
						  }
						}

					}
				}

				&:last {
					margin-bottom: 40px;
				}
			}
		}

		.respond {
			padding: 0;
	    width: 100%;
	    margin-top: 5px;
	    border-radius: 2px;
	    border: none;

	    h2.title {
	    	margin-bottom: 10px;
	    }

			textarea {
				margin-bottom: 5px;
				border-radius: 2px;
				padding: 6px;
			}

			&.replying {
				padding-left: 4em;
			}

			textarea {
				height: 6em;
				margin-bottom: 0;
			}

			input.btn,
			a#cancel_reply {
				line-height: 30px;
				margin-top: 0px;
				font-size: 1em !important;
				background: none;
				border: none !important;
				padding: 0;
				font-weight: normal;
				outline: none;

				&:focus,
				&:active {
					outline: none;
					border: none;
				}
			}

			a#cancel_reply {
				margin-bottom: 0 !important;
				margin-right: 7px;
				color: $red;
			}
		}
	}

	.entry-title {
		clear: both;
	}

	.pdf_file {
		margin-bottom: 30px;
	}

	#actions {

		button {
			font-size: 0.8em;
			padding: 0.5em 0.85em;
			color: #fff;
			display: inline-block;
			border: none;
			border-radius: 2px;
			color: #fff;
			margin: 0 0.1%;
			border-width: 1px;
			border-style: solid;

			&.disabled {
				opacity: 0.55;
				background: #f7f7f7;
			}
		}
	}

	#listening_labs {
		p {
			line-height: 1em;
		}
	}

	#taxonomies {
		ul {
			padding-left: 0;
		}

		li {
			list-style: none;
			display: inline-block;

			a {
				line-height: 18px;
				display: inline-block;
		    position: relative;
		    padding: 1px 6px 0;
		    font-size: 10px;
		    text-transform: uppercase;
		    color: #797f7f;
		    margin: 3px 1px;
		    font-weight: 600;
		    text-decoration: none;
        border-radius: 3px;

        &.tag {
    			background-color: #f1f4f4;
    	    border: #dadfe1 1px solid;
        }

        &.category {
    			background-color: #cadddd;
    	    border: darken(#cadddd, 10%) 1px solid;
        }
			}
		}
	}

	.tab-content > .active {
	  display: flex;
	}

	#bottom_course_nav {
		border-top: 1px solid #777;
		padding-bottom: 40px;
		padding-top: 20px;
		margin-top: 20px;

		#prev_lesson {
			float: left;
			text-align: left;

			a {
				color: #999;
			}
		}

		#next_lesson {
			float: right;
			text-align: right;

			a {
				color: #999;
			}
		}

	}

	aside {
		h5 {
			margin: 20px 0 5px;
		}
	}
}