h3#loading {
	text-align: center;
	padding: 15px 0 90px;
}

p.all_loaded {
	clear: both;
	text-align: center;
}

#filters {
	&.desktop_filters {

		form.search-form {
		  // margin-right: 22px;
		  // margin-left: 35px;
		  display: inline-block;
		  position: relative;
		  z-index: 0;
		  background: #fff;
		  border-radius: 5px 0 0 5px;

		  &:before {
		    @extend .fa, .fa-search;
		    color: #b0bec5;
		    right: -5px;
		    top: 0;
		    width: 75px;
		    position: absolute;
		    z-index: -1;
		    text-align: center;
		    color: #868686;
		    font-size: 1.2em;
		    line-height: 2.35em;
		    background: #eaeaea;
		    border-radius: 0 5px 5px 0;
		  }

		  input {
		    background: transparent;
		    border: none;
		    box-shadow: none;
		    color: #eceff1;
		    font-size: 13px;
		    font-weight: 500;
		    line-height: 1.2em;
		    padding: 20px 80px 17px 35px;

		    &[type="submit"] {
		      font-size: 0;
		      padding: 0;
		      position: absolute;
		      right: 0;
		      top: 0;
		      width: 75px;
		      border-radius: 0 5px 5px 0;
		    }
		  }

		  input[type=text] {
		    padding: 0.5em 5em 0.5em 0.7em;
		    border-radius: 5px 0 0 5px;
		    font-size: 1.3em;
		    color: #8c8c8c;
		  }
		}


		h4, select {
			display: inline-block;
			font-size: 1.1em;
		}

		select {
			background: #fff;
		}

		button, input[type=submit] {
			font-weight: bold;
			padding: 0 2em;
			font-size: 1em;
			position: relative;
			top: 0;
			background-color: #68cc68;
			border-color: #48a948;
		}

		h4 {
			position: relative;
			top: 1px;
			margin-right: 5px;
		}
	}
}

article.lesson {

	h2#main-title {
		font-size: 1.35em;
	}

	#lesson_meta {
		line-height: 1.3em;

		.entry-meta {
			span {
				display: block;

				a {
					color: inherit;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	video {
		width: 700px;
		height: 373px;
		margin-bottom: 20px;
	}

	iframe {
		width: 100%;
		height: initial;
		min-height: 400px;
	}

	#video_playlist {
		ul {
			margin-top: 0;
			border-bottom: 0;

			li {
				padding: 7px 12px 0 10px;
				margin: 0 6px 2px 5px;
				width: 100%;
				display: inline-block;

				&#summary {
					font-size: 15px;
					font-weight: bold;
				}

				i.fa {
					font-size: 0.8em;
					position: relative;
					top: -1px;
				}

				a {
					font-size: 14px;
					text-transform: none;
					padding: 4px 6px 8px;
					display: block;

					span.text {
						margin-left: 12px;
					}
				}
			}
		}

	}

	#text_content {
		ul {
			margin-bottom: 2em;
			padding-left: 2.2em;
		}
	}

	.comments {
		clear: both;
		margin-top: 0px !important;
		margin-bottom: 20px !important;
		border-top: 1px solid #ccc;

		a {
			font-weight: 700;
		}

		#comments_top {
			padding-top: 0.6em;
			padding-bottom: 0.4em;
		}

		ul.comment-list {
			padding-top: 20px;

			li.comment {
				list-style: none;

				.comment-item {
					margin-bottom: 15px;

					.author-avatar {
						width: 3.2em;
						display: inline-block;

						img {
							width: 4em;
						}
					}

					.comment-body {
						width: 260px;
						padding-left: 1.15em;

						.reply {
							background: none;
							padding: 0;

							&:active,
							&:focus {
								opacity: 0;
							}
						}

						p {
							padding-top: 0.4em;
						}

						.comment-metadata {
							font-size: 1em;

							.name,
							.time {
								font-size: 0.9em;
							}

							.time {
								display: inline-block;
						    padding-top: 0;
						  }
						}

					}
				}

				&:last {
					margin-bottom: 40px;
				}
			}
		}

		.respond {
			padding: 0;
	    width: 100%;
	    margin-top: 5px;
	    border-radius: 2px;
	    border: none;

	    h2.title {
	    	margin-bottom: 10px;
	    }

			textarea {
				margin-bottom: 5px;
				border-radius: 2px;
				padding: 6px;
			}

			&.replying {
				padding-left: 4em;
			}

			textarea {
				height: 6em;
				margin-bottom: 0;
			}

			input.btn,
			a#cancel_reply {
				line-height: 30px;
				margin-top: 0px;
				font-size: 1em !important;
				background: none;
				border: none !important;
				padding: 0;
				outline: none;

				&:focus,
				&:active {
					outline: none;
					border: none;
				}
			}

			a#cancel_reply {
				margin-bottom: 0 !important;
				margin-right: 7px;
				color: $red;
			}
		}
	}

	.entry-title {
		clear: both;
	}

	.pdf_file {
		margin-bottom: 30px;
	}

	#actions {

		button {
			font-size: 0.8em;
			padding: 0.5em 0.85em;
			color: #fff;
			display: inline-block;
			border: none;
			border-radius: 2px;
			color: #fff;
			margin: 0 0.1%;
			border-width: 1px;
			border-style: solid;

			&.disabled {
				opacity: 0.55;
				background: #f7f7f7;
			}
		}
	}

	#playlists {
		p {
			line-height: 1em;
		}
	}

	#taxonomies {
		ul {
			padding-left: 0;
		}

		li {
			list-style: none;
			display: inline-block;

			a {
				line-height: 18px;
				display: inline-block;
		    position: relative;
		    padding: 1px 6px 0;
		    font-size: 10px;
		    text-transform: uppercase;
		    margin: 3px 1px;
		    font-weight: 600;
		    text-decoration: none;
        border-radius: 3px;

        &.tag {
			    color: #4c4c4c;
    			background-color: #f1f4f4;
    	    // border: #dadfe1 1px solid;
        }

        &.category {
        	color: #ffffff;
    			background-color: #5d5d5d;
    	    // border: darken(#cadddd, 10%) 1px solid;
        }
			}
		}
	}

	.tab-content > .active {
	  display: flex;
	}

	#bottom_course_nav {
		border-top: 1px solid #777;
		padding-bottom: 40px;
		padding-top: 20px;
		margin-top: 20px;

		#prev_lesson {
			float: left;
			text-align: left;

			a {
				color: #999;
			}
		}

		#next_lesson {
			float: right;
			text-align: right;

			a {
				color: #999;
			}
		}

	}

	aside {
		h5 {
			margin: 20px 0 5px;
		}
	}
}