#settings {
	.tab-content {
		label {
			margin-bottom: 0;
			font-size: 0.9em;
		}

		input[type=text],
		input[type=email],
		input[type=password] {
			width: 24em;
		}
	}
}

.btn-mgn-btm {
	margin-bottom: 12px;
}

form.edit_user {
	label[for=user_receives_weekly_digest] {
		span, input[type=checkbox] {
			display: inline-block;
		}

		span {
			font-size: 1.1em;
			font-weight: bold;
		}

		input[type=checkbox] {
			width: 25px;
			height: 25px;
			position: relative;
			left: 12px;
			top: 7px;

			&:active, &:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
}

form#update_card_form {
	ul#choose_payment_type {
		li {
			list-style: none;
			display: inline-block;
			margin-right: 1.7em;

			i {
				font-size: 3em;
				position: relative;
				top: 0.2em;
			}
		}
	}

	select {
		font-size: 1.2em;
		border-color: #ccc;
		padding: 2px;
	}

	input.small {
		width: 125px;
	}
}