#settings {
	.tab-content {
		label {
			margin-bottom: 0;
			font-size: 0.9em;
		}

		input[type=text],
		input[type=email],
		input[type=password] {
			width: 27em;
		}
	}
}

.btn-mgn-btm {
	margin-bottom: 12px;
}

form.edit_user {
	label[for=user_receives_weekly_digest] {
		span, input[type=checkbox] {
			display: inline-block;
		}

		span {
			font-size: 1.1em;
			font-weight: bold;
		}

		input[type=checkbox] {
			-ms-transform: scale(1.5); /* IE */
			-moz-transform: scale(1.5); /* FF */
			-webkit-transform: scale(1.5); /* Safari and Chrome */
			-o-transform: scale(1.5); /* Opera */
			transform: scale(1.5);
			padding: 10px;
			color: green;
			background-color: green;
			width: fit-content;
			max-width: 20px;
			margin-left: 10px;
			outline: none;
			box-shadow: none;
			position: relative;
			top: 0.8em;

			&:active, &:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
}

form#update_card_form {
	ul#choose_payment_type {
		li {
			list-style: none;
			display: inline-block;
			margin-right: 12px;
		}
	}

	select {
		font-size: 1.2em;
		border-color: #ccc;
		padding: 2px;
	}

	input.small {
		width: 125px;
	}
}