#store_listing {
	.product {
		position: relative;
		border: 1px solid #434343;
		border-radius: 3px;
		cursor: pointer;
		padding: 10px 10px;

		h3 {
			font-size: 1.1em;
			height: 3.2em;
		}

		.audio_file_icon {
			font-size: 4.7em;
			border-radius: 2px;
			position: absolute;
			left: 0;
			top: 0;
			padding: 0.6em 10px;
		}

		img {
			border-radius: 2px;
		}
	}
}

#basket {
	table {
		i.fa-times {
			cursor: pointer;
		}

		td {
			&.description {
				width: 75%;
			}

			&.right {
				text-align: right;
			}

			a.clear_basket {
				color: $mainColour_a;
			}

			&.total {
				font-weight: bold;
				border-top: 1px solid #999;
				border-bottom: 1px solid #999;
			}
		}
	}
}

#payment.solo_checkout {
	form#payment_form {
		border: none;
	}
}