<div class="field-unit__label">
  <%= f.label label %>
</div>
<div class="field-unit__field">
  <%= f.email_field field.attribute, value: value %>
  <% if hint.present? %>
	  <small class="form-text text-muted"><%= hint %></small>
  <% end %>
</div>