<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
	<%= image_tag(field.custom_version.url) unless field.custom_version.nil? %>
  <%= f.file_field field.attribute %>
</div>
