article.lesson {
	iframe {
		min-height: 350px;
	}
}

@media screen and (orientation: portrait) {
	header .header-top form.search-form {
		width: 90%;

		input[type=text] {
			width: 100%;
		}
	}

	header .header-top .account_links_col {
		padding-left: 0;
		padding-right: 0;

		span {
			a {
				font-size: 0.8rem;
			}
		}
	}

	#home_slides .cms_section#register .col {
		min-height: 24em;
	}

	.list .lesson_result article.post {
		.entry-thumbnail {
			a {
				height: initial;
			}
		}

		.entry-title {
			font-size: 0.9em;
		}
	}

	article.lesson {
		#playlist {
			height: initial;
		}

		#actions button {
			width: 80% !important;
			margin-bottom: 10px;
		}

		iframe {
			min-height: 400px;
		}

	}
}

@import 'tablet/library/_header';