.form-elements {
  margin-bottom: 50px;
}
.form-elements h2,
.form-elements h3,
.form-elements h4,
.form-elements h5,
.form-elements h6 {
  color: #455a64;
}
.form-elements form p {
  clear: both;
  position: relative;
  text-align: left;
}
.form-elements form .form-input {
  display: inline-block;
  width: 49%;
}
.form-elements form .form-input input {
  width: 100%;
}
.form-elements form .form-input .icons {
  display: inline-block;
  float: right;
  padding-right: 17px;
}
.form-elements form .form-input .icons i {
  color: #90a4ae;
  cursor: pointer;
  display: block;
  font-size: 20px;
  padding: 5px 0;
  width: 30px;
  text-align: center;
}
.form-elements form .form-input:nth-child(even) {
  float: right;
}
.form-elements form .checkbox {
  font-size: 1em;
  padding-left: 20px;
}
.form-elements form .checkbox input[type="checkbox"] {
  left: 0;
  top: 6px;
  margin: 0;
  width: 14px;
}
.form-elements form .checkbox a {
  text-decoration: underline;
}
.form-elements form .submit-input {
  display: inline-block;
  margin-top: 15px;
}
.form-elements form.sign-in-form {
  padding-top: 20px;
}
.form-elements form.sign-in-form p {
  width: 100%;
}
.form-elements form.sign-in-form input[type="submit"] {
  max-width: 110px;
  padding: 0 33px;
}
.form-elements .alt-methods {
  color: #455a64;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 17px 0 0 35px;
  vertical-align: middle;
}
.form-elements .alt-methods a {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 45px;
  width: 45px;
  line-height: 49px;
  margin: 0 3.5px;
  text-align: center;
}
.form-elements .alt-methods a.facebook {
  background: #3b5998;
}
.form-elements .alt-methods a.twitter {
  background: #1da1f2;
}
.form-elements .alt-methods a.google {
  background: #dd4b39;
}
.form-elements .left-panel {
  padding-right: 20px;
}
.form-elements .col-sm-5 {
  padding-left: 35px;
}
.form-elements .right-panel {
  border: 1px solid #cfd8dc;
  padding: 30px;
}