.legals {
	ol {
		margin-bottom: 60px;

		li {
			margin-bottom: 0.7em;
		}
	}

	h3 {
		font-size: 1.3em;
	}

	section {
		margin-bottom: 75px;

		h3 {
			font-size: 1.2em;
			margin-bottom: 1.3em;
		}

		h4 {
			font-size: 1.1em;
		}
	}
}