h3#loading {
	text-align: center;
	padding: 15px 0 90px;
}

p.all_loaded {
	clear: both;
	text-align: center;
}

.list {
	p.none_found {
		padding: 10px 0;
		clear: both;
		font-weight: bold;
		text-align: center;
		width: 100%;
		font-size: 1.3em;
		line-height: 1.4em;
	}

	.lesson_result {
		min-height: 290px;

		&.blocked {
			article {
				opacity: 0.3;
			}

			i.fa-lock {
				font-size: 70px;
		    position: absolute;
		    top: 60px;
		    left: 40%;
		    opacity: 1;
		    z-index: 10;
		    color: #ffffff;
			}
		}

		article.post {
			margin-bottom: 10px;
			height: 100%;

			.entry-title {
			  font-size: 1em;
			  line-height: 1.4em;
			}

			.bottom_meta {
				line-height: 1.5em;
			}

			img.author_avatar {
				width: 36px;
			}

			.lesson_course_link {
				margin-top: 11px;
				line-height: 1.3em;
			}

			.entry-thumbnail {
				max-height: 190px;

				a.img_wrap {
					width: 100%;
					display: block;
					overflow: hidden;

					img {
						width: 100% !important;
						margin-left: 0;
						height: initial;

						&.no_thumbnail {
							opacity: 0.35;
						}
					}
				}
			}
		}
	}
}

p.show_all {
  position: absolute;
  right: 22px;
  top: 3px;
	font-size: 0.8em;
}

ul {
	padding-left: 20px;

	li {
		line-height: 2em;
	}
}