$salmon: darken(#fe907f, 6%);
$green: darken(#88d68f, 12%);
$blue: #1679c5;
$mainColour_a: #c13a3f;
$mainColour_b: #bf2828;
$mainColour_c: lighten(desaturate($mainColour_a, 20%), 10%);
$header-bg: #6bc5c9;