.widget {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  &.widget_latest_post,
  &.widget_popular_posts {
    article {
      display: inline-block;
      margin: 0 0 0.5em !important;
      width: 100%;

      &last-child {
        margin-bottom: 0;
      }
    }

    .entry-thumbnail {
      float: left;
      margin: 0 15px 0 0;
      width: 75px;
      padding: 0;
      border-radius: 3px;
      position: relative;
      top: 2px;
    }

    .entry-title {
      font-size: 13px !important;
      font-weight: 600;
      line-height: 1.3em;
      margin: 0.5em 0 0.6em;

      a {
        color: #b0bec5;
      }
    }
  }

  &.widget_address {
    .item {
      display: inline-block;
      margin-top: 45px;
      width: 100%;

      &:first-child {
        margin-top: 0;
      }

      img.avatar {
        width: 3.75em;
      }

      .item-icon {
        background: #eceff1;
        border-radius: 50%;
        color: #455a64;
        float: left;
        font-size: 35px;
        height: 85px;
        width: 85px;
        line-height: 95px;
        margin-right: 15px;
        padding: 0;
        text-align: center;
      }

      .item-title {
        font-size: 1em;
        margin: 3px 0 10px;
      }

      span {
        display: block;
        font-size: 0.9em;
        line-height: 2em;

        a {
          color: #455a64;
        }
      }
    }
  }

  .tag-link {
    background: #cfd8dc;
    color: #3b4146;
    display: inline-block;
    font-size: 0.9em;
    line-height: 2.4em;
    margin: 0 0.4em 0.7em 0;
    padding: 0.1em 0.9em;
    font-weight: 500;
    float: left;
    text-transform: capitalize;

    &:hover {
      color: #fff;
    }
  }
}


