body.auth {
	background-color: #f1f1f1;
	min-height: 100vh;
}

#login_box,
#registration_box,
#passwords_box,
#checkout_complete_box,
section#payment {
	margin-top: 0;
	padding-bottom: 1em;

	.panel {
		width: 100%;
		width: 100vw;
		border: none;
		padding: 2.5em 1.2em 1.2em;
		// margin: -1em 0;
	}

	.bottom-text {
		padding-top: 0;
	}

	&#payment {
		.panel {
		  text-align: left;
		  // width: 93vw;
		}
	}
}