section#payment  {
	form#payment_form {
		padding-left: 0;
		padding-right: 0;

		#selected_option {
			p {
				width: 55%;
			}
			ul {
				max-width: 70%;

				li {
					font-weight: normal;
					line-height: 1.2em;
					margin-bottom: 0.8em;
				}
			}
		}

		#paypal_forwarding {
			width: 95%;
		}

		.form_item {
			label {
				width: 30%;
			}

			&.d-flex {
				label + * {
					width: 70% !important;

					input[type=text] {
						width: 100%;
					}
				}

				p.hint {
					line-height: 1.1em;
					font-size: 0.9em;
					text-align: right;
					padding-left: 6px;
					padding-right: 2px;
				}
			}

			ul#choose_payment_type {
				top: -0.5em;

				li {
					margin-right: 0.8em;

					label {
						i {
							top: 0.2em;
							font-size: 2.6em;
							position: relative;
						}
					}
				}


				&.subscribe {
					top: 0.3em;

					li {
						label {
							input {
								position: relative;
								top: 0.8em;
							}

							i {
								top: 0;
								font-size: 3.1em;
							}
						}
					}
				}
			}
		}
	}
}