#subscribe_instructions {
	margin-top: -1.1em;
	background: #efab0c;

	p, ul {
		color: #ffffff;
	}

	p {
		font-size: 1em;
	}

	ul {
		padding-left: 11px;
		font-size: 0.8em;
		margin: 0px 0 8px;

		li {
			line-height: 1.5em;
			list-style: none;
			font-weight: bold;
		}
	}
}

#subscribe.content_wrapper {
	margin-top: 0;

	section#choose_option {
		// padding: 0 !important;
		margin-bottom: 12px !important;

		div.subscription_option {
			height: initial !important;

			label {
				// border: none !important;
				margin-top: 10px !important;
			}

			ul.option_desc {
				height: initial !important;
			}
		}
	}

	section#payment {
		// padding: 0 !important;

		form#payment_form {
			margin-top: 0;
			border-radius: 3px;
			padding: 15px 3% !important;
			width: 100%;

			button {
				width: 100%;
				font-size: 1.2em;
			}

			.form_item {
				select {
					border: 1px solid #ccc;
				}

				label {
					width: 46%;
				}

				input[type=text] {
					border: 1px solid #ccc;
					width: 50%;
					border-radius: 3px;

					&.small {
						width: 25%;
					}
				}
			}
		}
	}

	#discount_form {
		margin-top: 0 !important;

		input[type=text] {
			max-width: none !important;
			width: 82%;
		}

		button {
			width: 18%;
		}
	}

	#discount_and_summary {
		table {
			width: 100%;
		}
	}
}

#settings {
	#my_membership {
		margin: 40px 0;
	}
}