#tablet_main_nav.scrolling-top-nav {
  .navbar-nav-scroll {
    max-width: 94vw;
    margin: 0 auto;
    font-size: 0.9em;
    height: 2.4rem;
    overflow: hidden;

    .nav {
      overflow-x: auto;
      white-space: nowrap;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

header .header-bottom .navbar-default .navbar-nav li a.btn {
  top: 0.65em;
}

@media (max-width: 1200px) {
  header .header-bottom .navbar-default .navbar-nav li a {
    padding: 0 3.5vw;
  }
}

@media (max-width: 992px) {
}