<p>Hey Justin,</p>

<p>New user registration on <%= site_setting("Site name") %>, yaay!</p>

<table cellpadding='1' cellspacing='1' border='1'>
	<tr>
		<td><b>Name: </b></td>
		<td><%= @user.full_name %></td>
	</tr>
	<tr>
		<td><b>Email: </b></td>
		<td><%= @user.email %></td>
	</tr>
</table>

<p>Go check them out, immediately!</p>

<p>Love from your own website</p>