[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
	display: none !important;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:wght@300;500;600;700');

@import "dropzone/dropzone";
@import "vendor/font-awesome-base";
@import "bootstrap-custom";
@import "datetime_picker";

@import "../library/variables";
@import "../library/loader";
@import "_variables";

@import "components/_layout";
@import "components/_sidenav";
@import "components/_form";
@import "components/_content";
@import "components/_search";
@import "components/_text";
@import "components/_links";
@import "components/_tables";
@import "components/_help";

@import "tablet";


.collapse {
	display: unset; /* Datepicker is interfereing with Bootstrap collapse */
}

body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.lds-dual-ring.large:after {
	border-color: #3f788a transparent #3f788a transparent;
}