<article class="post type-post well pb-2">
  <div class="entry-thumbnail mb-2">
    <a href="{{lesson.path}}" class="img_wrap" ng-if="lesson.image">
      <img ng-src="{{lesson.image}}" alt="{{lesson.name}}" ng-class="{'no_thumbnail': !lesson.hasThumbnail}" ng-cloak />
    </a>
  </div>

  <div class="entry-content d-flex align-items-start">
    <img ng-src="{{lesson.author.avatar}}" alt="{{lesson.author.name}}" class="rounded-circle author_avatar m-2" ng-cloak />

    <div class="pl-1">
      <h3 class="entry-title">
        <a href="{{lesson.path}}" class="">
          <span>{{lesson.name}}</span>
        </a>
      </h3>

      <div class="entry-meta bottom_meta">
        {{lesson.author.name}} <br /> {{lesson.published}}
      </div>
    </div>
  </div>
</article>

<a href="#" ng-click="lockedLessonClick($event)" class="img_wrap" ng-if="!lesson.available">
  <i class="fa fa-lock"></i>
</a>