<div class="p-2 w-100 mx-auto mb-3 pb-0" id="subscribe_instructions">
  <p class="m-0"><strong>Subscribe now to unlock the good stuff.....</strong></p>
  <ul>
    <li>
      <i class="fas fa-clipboard-check mr-1"></i>
      Access to FULL Lesson Library and Courses
    </li>
    <li>
      <i class="fas fa-clipboard-check mr-1"></i>
      Request 1-on-1 lessons with <%= Maawol::Config.site_owner_fname %>
    </li>
    <% if school_setting("facebook-page-url").present? %>
      <li><i class="fas fa-clipboard-check mr-1"></i>
        Access to Exclusive Facebook page
      </li>
    <% else %>
      <li><i class="fas fa-clipboard-check mr-1"></i>
        Much more
      </li>
    <% end %>
    <li><i class="fas fa-clipboard-check mr-1"></i>
      Only <%= monthly_fee %> per month
    </li>
  </ul>
</div>