<article class="post type-post well">
  <div class="entry-thumbnail">
    <a href="{{lesson.path}}" class="img_wrap" ng-if="lesson.image">
      <img ng-src="{{lesson.image}}" alt="{{lesson.name}}" ng-class="{'no_thumbnail': !lesson.hasThumbnail}" ng-cloak />
    </a>
  </div>

  <div class="entry-content">
    <h4 class="entry-title mt-2 px-1 mb-2">
      <a href="{{lesson.path}}">
        {{lesson.name}}
      </a>
    </h4>

    <div class="entry-meta bottom_meta pl-1">
      {{lesson.author.name}} <br /> {{lesson.published}}
    </div>
  </div>
</article>

<a href="#" ng-click="lockedLessonClick($event)" class="img_wrap" ng-if="!lesson.available">
  <i class="fa fa-lock"></i>
</a>