footer.site-footer {
	.footer-social {
		margin-top: 12px;
		// margin-bottom: 30px;
	}


  &.home {
  	#footer_legals {
	  	li {
	  		a {
	  			text-decoration: none;
	  		}
	  	}
	  }

    .footer-branding {
      img {
        max-width: 40vw;
      }
    }
  }

	.widget.widget_tags {
		margin-bottom: 15px;
	}

	ul.other_pages {
		max-width: 75vw;
		margin-left: auto;
		margin-right: auto;

	  li {
	    font-size: 0.95em;

	    a {
	      font-weight: 600;
	    }
	  }
	}

	.copyright {
		font-size: 1em;
	}
}