<div class="field-unit__label">
    <%= f.label field.attribute_key, t("helpers.label.#{field.attribute.to_s.singularize}.when_associated") %>
</div>
<div class="field-unit__field">
  <%= f.select(field.attribute_key, nil, {}, multiple: true) do %>
    <%= options_for_select(field.associated_resource_options, field.selected_options) %>
  <% end %>
</div>