.app-container {
	padding: 0;
	margin-left: 0;
  margin-right: 0;
  max-width: none;
  background-color: #343434;

	a, select, input {
		outline: none;

		&:active,
		&:hover {
			outline: none;
		}
	}
}