.app-container {
	padding: 0;
	background-color: #3a3a3a;
	margin-left: 0;
  margin-right: 0;
  max-width: none;

	a, select, input {
		outline: none;

		&:active,
		&:hover {
			outline: none;
		}
	}
}