.main-content {
	border-radius: 0;
	box-shadow: none;
	position: relative;
	background-color: transparent;

  body.dark-green &,
  body.dark-blue &,
  body.dark-red & {
		color: #fff;
		border-left: 1px solid #fff;
  }

  body.light-green &,
  body.light-blue &,
  body.light-red & {
		// background-color: #dfe2e4;
		border-left: 1px solid #777;
	}

	header#user_info {
		color: #fff;
		padding: 8px 15px 8px;
		width: 100%;
		// background-color: #283e54;

		#navigation__toggle {
			display: inline-block;
			color: #fff;
			font-size: 26px;
			outline: none;
			margin-top: 8px;

			&:active,
			&:hover {
				outline: none;
			}
		}

		nav.navbar {
			ul {
				margin-bottom: 0;
				padding-bottom: 0;

				#nav_link_my_profile {
					font-size: 0.9em;
					max-width: 220px;
					text-align: right;
					top: 8px;

					span {
						color: #fff;
						top: 7px;
						position: relative;
						left: 5px;
						padding-right: 5px;
						text-overflow: ellipsis;
						word-break: break-word;
						white-space: nowrap;
						max-width: 150px;
						display: inline-block;
						overflow-x: hidden;
					}

					img {
						width: 32px;
						height: 32px;
					}
				}
			}
		}

	}

	.main-content__body {
		padding: 1rem 1.5rem;

	  body.dark-green &,
	  body.dark-blue &,
	  body.dark-red & {
			background-color: #3a3a3a;

			.attribute-label {
				color: #dbe5ff;
			}
	  }

	  body.light-green &,
	  body.light-blue &,
	  body.light-red & {
			background-color: #ffffff;

			// .attribute-label {
			// 	color: #dbe5ff;
			// }
	  }

		table {
			td {
				max-width: 200px;
				overflow-x: scroll;
			}
		}

		dl {
			overflow: hidden;
		}

		#per_page_setter {
	    select {
	    	width: 60px;
	    	font-size: 0.9em;
	    	margin-left: 5px;
	    	position: relative;
	    	top: -3px;
	    }
		}

		.paginator {
			select {
				width: 60px;
				font-size: 0.9em;
				margin-left: 5px;
				position: relative;
				top: -3px;
			}
		}
	}

	.user_account_page {
		display: none;
		position: absolute;
		top: 70px;
		left: 0px;
		background-color: #e8ecef;
		z-index: 100;
		padding: 20px;
		width: 100%;
		height: 100%;

		section {
			.nav-tabs {
				li {
					a {
						color: saturate(#283e54, 10%);
						font-weight: bold;
					}
				}
			}
			.tab-content {
				background: #fff;
			}
		}
	}
}

.btn {
	font-weight: 800;
}

td img {
	max-height: unset !important;
}