.main-content {
	border-radius: 0;
	box-shadow: none;
	position: relative;
	background-color: $maawol_admin_main_content_bg;
	margin-left: 260px;

	.app-container.nav_hidden & {
		margin-left: 0;
	}

	header#top_header {
		color: #fff;
		width: 100%;
		background-color: $maawol_admin_bg;

		h2 {
			font-size: 1.2em;
		}

		a {
			color: #ffffff;

			&#side_menu_toggle {
				font-size: 1.3em;
				line-height: 1em;
				position: relative;
				top: 2px;
			}
		}

		.top_links {
			a {
				font-size: 0.9em;
			}
		}
	}

	.main-content__body {
		padding: 1rem 1.5rem;
		background-color: #ffffff;

		table {
			td {
				max-width: 200px;
				text-overflow: ellipsis;
				word-break: break-word;
				overflow-x: hidden;
				white-space: nowrap;
			}
		}

		dl {
			overflow: hidden;
		}

		#per_page_setter {
	    select {
	    	width: 60px;
	    	font-size: 0.9em;
	    	margin-left: 5px;
	    	position: relative;
	    	top: -3px;
	    }
		}

		.paginator {
			select {
				width: 60px;
				font-size: 0.9em;
				margin-left: 5px;
				position: relative;
				top: -3px;
			}
		}
	}

	.user_account_page {
		display: none;
		position: absolute;
		top: 70px;
		left: 0px;
		background-color: #e8ecef;
		z-index: 100;
		padding: 20px;
		width: 100%;
		height: 100%;

		section {
			.nav-tabs {
				li {
					a {
						color: saturate(#283e54, 10%);
						font-weight: bold;
					}
				}
			}
			.tab-content {
				background: #fff;
			}
		}
	}
}

.btn {
	font-weight: 800;
}

td img {
	max-height: unset !important;
}