#admin_sidenav {
	flex: 1 0 15rem;
	color: #fff;
	padding-right: 0;
	padding-top: 15px;
	font-size: 0.95em;

	#logo {
		padding: 10px 20px 18px;
		width: 100%;
		position: relative;
		line-height: 1.3em;
		font-size: 1.7em;
		text-align: center;

		a {
			color: #fff;
			text-decoration: none;
			width: inherit;
			height: inherit;
			border: none;
			display: block;
			outline: none;
		}
	}

	.navigation__link {
		color: #fff;
		padding: 0.5em 0.5em 0.5em 1em;

		&:hover {
			color: #293f54;
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}

		.badge {
			display: inline-block;
			float: right;
			margin-right: 3px;

			&.attention {
				background-color: $green;
				padding: 3px 5px;
				border-radius: 2px;
			}
		}
	}

	.navigation__link--active {
		font-weight: bold;
	}

	h3 {
		color: #ffffff;
		font-size: 1em;
		background-color: #232323;
		padding: 0.4em 0 0.4em 0.8em;
		margin-bottom: 0;

		a {
			&:hover {
				background: none;
			}
		}
	}

	ul {
		margin-bottom: 0;
		margin-top: 0;
		padding: 1em 0 1em 0.8em;
		background-color: #3c3c3c;

		&.children {
			margin-bottom: 4px;
			margin-top: -3px;

			li {
				font-size: 0.9em;
			}
		}

		li {
			line-height: 1.3em;
			font-size: 0.92em;

			a {
				font-weight: normal;
				text-decoration: none;
			}

			&.user_account_tab {
				padding-left: 2.5em !important;

				h5 {
					font-size: 1.05em;
					margin: 0;

					a {
						color: #fff;
					}
				}

				a.close {
					font-size: 0.9em;
					color: #ccc;
					margin-right: 3px;
					text-shadow: none;
					position: relative;
					top: 3px;
				}

				&.selected {
					background: #e8ecef;
					border-radius: 3px 0 0 3px;

					h5 {
						a {
							color: #111;
						}
					}

					a.close {
						color: #444;
					}
				}
			}
		}
	}

  body.dark-green &,
  body.dark-blue &,
  body.dark-red & {
  	.navigation__link {
			color: #fff;

			&:hover {
				background-color: #5d5d5d;
			}

		}

		h3 {
			a {
				color:  #ffffff !important;
			}
		}
  }

  body.light-green &,
  body.light-blue &,
  body.light-red & {
  	.navigation__link {
			// color: #333;
		}

		h3 {
			a {
				color:  #ffffff !important;
			}
		}
  }
}