<div class="copyright mt-3 pt-2 pb-3 text-center">&copy; <%= "#{Date.today.strftime("%Y")} #{school_setting("site-name")}" %><br />
  <small class="mt-2 d-block">
  	<%= t("views.footer.run_own") %> <a href='https://www.maawol.com' target='_blank'>Maawol</a>.
  </small>
</div>