<div id="tablet_main_nav" class="header-bottom navbar navbar-expand navbar-dark flex-column flex-md-row scrolling-top-nav py-0">
  <nav class="navbar-nav-scroll navbar-default">
    <div class="nav navbar-nav bd-navbar-nav flex-row" role="tablist" style="flex-wrap: nowrap;">
      <ul class="p-0 d-flex">
      <% navbar.sorted_navbar_items_for_device_type(:desktop).each do |item| %>
        <% if item.can_be_seen_by_user(current_user) %>
          <li class="menu-item <%= 'active' if nav_item_is_current_request(item) %>">
            <a class="nav-link" href="<%= item.url %>" data-turbolinks="false" ng-click="navigateUri($event, '<%= item.url %>')"><%= item.name %></a>
          </li>
        <% end %>
      <% end %>

      <% if signed_in? && !current_user.is_subscriber? %>
       <li class="d-none d-lg-inline-block">
          <a href="/subscribe" class="btn btn-block btn-success" data-turbolinks="false">Subscribe</a>
        </li>
      <% end %>
      </ul>
    </div>
  </nav>
</div>