$maawol_body_bg: #353535;
$maawol_auth_page_bg: #f1f1f1;
$maawol_auth_panel_bg: #292929;

/* Text */
$maawol_text_color: #ffffff;
$maawol_link_color: #78d681;
$maawol_text_meta: #fdfdfd;
$maawol_account_links: #ffffff;
$maawol_navbar_color: #ffffff;
$maawol_section_title: #ffffff;
$maawol_footer_color: #ffffff;
$maawol_copyright_color: #ffffff;
$maawol_video_playlist_color: #2b2b2b;
$maawol_footer_legals_color: #ffffff;

/* Backgrounds / Highlights */
$maawol_header_bg: #353535;
$maawol_text_highlight: #50b159;
$maawol_navbar_bg: #1e291d;
$maawol_navbar_selected: #50b159;
$maawol_navbar_hovered: #5f6f61;
$maawol_navbar_border: #323c31;
$maawol_footer_bg: #2e352d;
$maawol_copyright_bg: #1e291d;
$maawol_well_bg: #2e352d;
$maawol_well_border: #323c31;
$maawol_video_playlist_bg: #ffffff;
$maawol_locked_lesson_color: #ffffff;
$maawol_comment_button_color: #50b159;
$maawol_secondary_nav_bg: #5f6f61;
$maawol_secondary_nav_color: #ffffff;

/* Buttons */
$maawol_button_viewed: #3aaec1;
$maawol_button_watch_later: #28bf4f;
$maawol_button_favourite: #9f74ba;

/* Forms */
$maawol_form_text_color: #3e464a;
$maawol_form_box_border: #212121;

/* Subscribe / Checkout */
$maawol_checkout_selected_option: #28a745;
$maawol_checkout_highlighted_option: #4e4e4e;
$maawol_payment_options_color: #ffffff;
$maawol_discount_button_color: #ffffff;
$maawol_discount_button_bg: #50b159;
$maawol_checkout_input_border_color: #252525;

/* Mobile only */
$maawol_mobile_navbar_toggle: #ffffff;

/* Stores */
$maawol_audio_file_icon_bg: rgba(255,255,255,0.06);
$maawol_audio_file_icon_color: #ffffff;

header .header-bottom .navbar-default .navbar-nav li a.btn,
header .header-bottom .navbar-default .navbar-nav li .modal.interstitial#subscriptionInterstitialModal .modal-body .inner a#green_subscribe,
.modal.interstitial#subscriptionInterstitialModal .modal-body .inner header .header-bottom .navbar-default .navbar-nav li a#green_subscribe,
.btn-success {
	color: #57985d !important;
	border-color: #1e9e27 !important;
	font-weight: 800;
	background-color: #ffffff !important;
}

@import "../library/_theme_implement";