$maawol_body_bg: #343534;
$maawol_auth_page_bg: #343534;
$maawol_auth_panel_bg: #292929;

/* Text */
$maawol_text_color: #ffffff;
$maawol_text_meta: #9de0a3;
$maawol_account_links: #ffffff;
$maawol_navbar_color: #ffffff;
$maawol_section_title: #ffffff;
$maawol_footer_color: #ffffff;
$maawol_copyright_color: #ffffff;
$maawol_video_playlist_color: #2b2b2b;

/* Backgrounds / Highlights */
$maawol_header_bg: #343534;
$maawol_text_highlight: #3f9247;
$maawol_navbar_bg: #4a4c4b;
$maawol_navbar_selected: #3f9247;
$maawol_navbar_hovered: #5f6f61;
$maawol_footer_bg: #2e352d;
$maawol_copyright_bg: #1e291d;
$maawol_well_bg: #2e352d;
$maawol_well_border: #586b57;
$maawol_video_playlist_bg: #ffffff;

/* Buttons */
$maawol_button_viewed: #3aaec1;
$maawol_button_watch_later: #28bf4f;
$maawol_button_favourite: #9f74ba;

/* Forms */
$maawol_form_text_color: #3e464a;
$maawol_form_box_border: #212121;

/* Subscribe / Checkout */
$maawol_checkout_selected_option: #28a745;
$maawol_checkout_highlighted_option: #4e4e4e;
$maawol_payment_options_color: #ffffff;
$maawol_discount_button_color: #ffffff;
$maawol_discount_button_bg: #3f9247;
$maawol_checkout_input_border_color: #252525;

/* Mobile only */
$maawol_mobile_navbar_toggle: #ffffff;
$maawol_mobile_scrolling_nav_bg: #5f6f61;

header .header-bottom .navbar-default .navbar-nav li a.btn,
header .header-bottom .navbar-default .navbar-nav li .modal.interstitial#subscriptionInterstitialModal .modal-body .inner a#green_subscribe,
.modal.interstitial#subscriptionInterstitialModal .modal-body .inner header .header-bottom .navbar-default .navbar-nav li a#green_subscribe,
.btn-success {
	background-color: #50afa2 !important;
	border-color: #3d988a !important;
}

@import "../library/_theme_implement";