$maawol_body_bg: #ffffff;
$maawol_auth_page_bg: #f1f1f1;
$maawol_auth_panel_bg: #ffffff;

/* Text */
$maawol_text_color: #3e464a;
$maawol_link_color: #187721;
$maawol_text_meta: #7b7b7b;
$maawol_account_links: #5C696f;
$maawol_navbar_color: #ffffff;
$maawol_section_title: #455a64;
$maawol_footer_color: #b0bec5;
$maawol_copyright_color: #ffffff;
$maawol_video_playlist_color: #2b2b2b;

/* Backgrounds / Highlights */
$maawol_header_bg: #f5f5f5;
$maawol_text_highlight: #59c664;
$maawol_navbar_bg: #163119;
$maawol_navbar_selected: #59c664;
$maawol_navbar_hovered: #487d4d;
$maawol_navbar_border: transparent;
$maawol_footer_bg: #163119;
$maawol_copyright_bg: #192b18;
$maawol_well_bg: #f5f5f5;
$maawol_well_border: #e3e3e3;
$maawol_video_playlist_bg: #f5f5f5;
$maawol_locked_lesson_color: #777777;
$maawol_comment_button_color: #59c664;

/* Buttons */
$maawol_button_viewed: #3aaec1;
$maawol_button_watch_later: #28bf4f;
$maawol_button_favourite: #9f74ba;

/* Forms */
$maawol_form_text_color: #3e464a;
$maawol_form_box_border: #c5c5c5;

/* Subscribe / Checkout */
$maawol_checkout_highlighted_option: #f6f6f6;
$maawol_checkout_selected_option: #f6f6f6;
$maawol_payment_options_color: #888888;
$maawol_discount_button_color: #ffffff;
$maawol_discount_button_bg: #3f9247;
$maawol_checkout_input_border_color: #c8c8c8;

/* Mobile only */
$maawol_mobile_navbar_toggle: #ffffff;
$maawol_mobile_scrolling_nav_bg: #487d4d;

/* Stores */
$maawol_audio_file_icon_bg: rgba(0, 0, 0, 0.06);
$maawol_audio_file_icon_color: #6d6d6d;

header .header-bottom .navbar-default .navbar-nav li a.btn,
header .header-bottom .navbar-default .navbar-nav li .modal.interstitial#subscriptionInterstitialModal .modal-body .inner a#green_subscribe,
.modal.interstitial#subscriptionInterstitialModal .modal-body .inner header .header-bottom .navbar-default .navbar-nav li a#green_subscribe,
.btn-success {
	color: #57985d !important;
	border-color: #087d10 !important;
	font-weight: 800;
	background-color: #ffffff !important;
}

@import "../library/_theme_implement";